{{define "bootstrap"}}
<!DOCTYPE html>
<html lang="en">
<head>
<title>UseGolang.com</title>
<link
href="css/bootstrap.min.css"
rel="stylesheet">
</head>
<body>
<div class="container-fluid">
{{template "yield"}}
</div>
<!-- jquery & Bootstrap JS -->
<script src="js/jquery.min.js">
</script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
</script>
</body>
</html>
{{end}}